<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativeTableText</key>
	<array>
		<real>0.30980393290519714</real>
		<real>0.35294118523597717</real>
		<real>0.42352941632270813</real>
	</array>
	<key>Button</key>
	<array>
		<real>0.19607843458652496</real>
		<real>0.30980393290519714</real>
		<real>0.5215686559677124</real>
	</array>
	<key>ButtonTitle</key>
	<array>
		<real>0.89999997615814209</real>
		<real>0.89999997615814209</real>
		<real>0.89999997615814209</real>
	</array>
	<key>ButtonTitleShadow</key>
	<string>darkGray</string>
	<key>DisabledTableText</key>
	<string>lightGray</string>
	<key>EditableText</key>
	<array>
		<real>0.19607843458652496</real>
		<real>0.30980393290519714</real>
		<real>0.5215686559677124</real>
	</array>
	<key>HighlightedButtonTitle</key>
	<string>white</string>
	<key>HighlightedButtonTitleShadow</key>
	<string>darkGray</string>
	<key>HighlightedTableText</key>
	<array>
		<real>0.19607843458652496</real>
		<real>0.30980393290519714</real>
		<real>0.5215686559677124</real>
	</array>
	<key>MultizoneTint</key>
	<array>
		<real>0.5</real>
		<real>0.30000001192092896</real>
		<real>0.0</real>
	</array>
	<key>NoItemTitle</key>
	<string>darkGray</string>
	<key>PlaceholderText</key>
	<array>
		<real>0.69999998807907104</real>
		<real>0.69999998807907104</real>
		<real>0.69999998807907104</real>
	</array>
	<key>SelectedTableText</key>
	<string>white</string>
	<key>SmallTableText</key>
	<string>gray</string>
	<key>StatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>TableCell</key>
	<string>white</string>
	<key>TableSeparator</key>
	<string>lightGray</string>
	<key>TableText</key>
	<string>black</string>
</dict>
</plist>
