<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativeTableText</key>
	<array>
		<real>0.3137</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>Button</key>
	<array>
		<real>0.3137</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>ButtonTitle</key>
	<array>
		<real>0.7843</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>ButtonTitleShadow</key>
	<string>white</string>
	<key>CustomPageBackground</key>
	<array>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>DisabledTableText</key>
	<array>
		<real>0.7843</real>
		<real>0.7843</real>
		<real>1.0</real>
	</array>
	<key>EditableText</key>
	<array>
		<real>0.7843</real>
		<real>0.7843</real>
		<real>0.0</real>
	</array>
	<key>HighlightedButtonTitle</key>
	<array>
		<real>0.7843</real>
		<real>0.5</real>
		<real>0.5</real>
	</array>
	<key>HighlightedButtonTitleShadow</key>
	<string>white</string>
	<key>HighlightedTableText</key>
	<array>
		<real>0.0</real>
		<real>0.3137</real>
		<real>0.3137</real>
	</array>
	<key>MultizoneTint</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>NoItemTitle</key>
	<array>
		<real>0.3137</real>
		<real>0.3137</real>
		<real>0.0</real>
	</array>
	<key>PlaceholderText</key>
	<array>
		<real>0.9412</real>
		<real>0.9412</real>
		<real>0.9412</real>
	</array>
	<key>SelectedTableCell</key>
	<array>
		<real>0.5882</real>
		<real>0.5882</real>
		<real>0.9412</real>
	</array>
	<key>SelectedTableText</key>
	<string>white</string>
	<key>SmallTableText</key>
	<string>gray</string>
	<key>StandardTint</key>
	<array>
		<real>0.3137</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>StatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>TableBackgroundTint</key>
	<array>
		<real>0.1961</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>TableCell</key>
	<array>
		<real>0.9412</real>
		<real>0.5882</real>
		<real>0.5882</real>
	</array>
	<key>TableGroupedHeaderShadow</key>
	<string>white</string>
	<key>TableGroupedHeaderText</key>
	<array>
		<real>0.1961</real>
		<real>0.0</real>
		<real>0.0</real>
	</array>
	<key>TablePlainHeaderShadow</key>
	<string>darkGray</string>
	<key>TablePlainHeaderText</key>
	<string>white</string>
	<key>TablePlainHeaderTint</key>
	<array>
		<real>0.0</real>
		<real>0.3137</real>
		<real>0.0</real>
	</array>
	<key>TableSeparator</key>
	<array>
		<real>0.0</real>
		<real>0.3922</real>
		<real>0.0</real>
	</array>
	<key>TableText</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.3922</real>
	</array>
</dict>
</plist>
