<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>0000iLinX</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Skin</string>
			<key>Key</key>
			<string>enableSkinKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Settings</string>
			<key>Key</key>
			<string>settingsKey</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>0002Hide All</string>
				<string>0003Profiles Only</string>
				<string>0004Show All</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>0005Version</string>
			<key>Key</key>
			<string>versionKey</string>
			<key>DefaultValue</key>
			<string>Unset - Run iLinX</string>
		</dict>
	</array>
</dict>
</plist>
